{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="banner text-center">
  <section class="section-sm">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8  mb-5 mb-lg-0">
    <h2 class="h5 section-title">Recent Post</h2>
    <article class="card mb-4">
    {% for b in page_obj %}
    <div class="post-slider">
        <img src="{{b.image.url}}" class="card-img-top" alt="post-thumb">
    </div>
    <div class="card-body">        
        <h3 class="mb-3"><a class="post-title" href="post-elements.html">{{b.title}}</a></h3>
        <ul class="card-meta list-inline">
        <li class="list-inline-item">
            <a href="author-single.html" class="card-meta-author">
            <img src="{{b.author.author.image.url}}" alt="John Doe">
            <span>{{b.author.author.fullname}}</span>
            </a>
        </li>
        <li class="list-inline-item">
            <i class="ti-timer"></i>{{b.read_time}} Min To Read
        </li>
        <li class="list-inline-item">
            <i class="ti-calendar"></i>{{b.date_published}}
        </li>
        <li class="list-inline-item">
            <ul class="card-meta-tag list-inline">
            <li class="list-inline-item"><a href="tags.html">{{b.category.name}}</a></li>
            </ul>
        </li>
        </ul>
        <p>{{b.body|safe|truncatechars:250}}</p>
        <a href="{{b.get_absolute_url}}" class="btn btn-outline-primary">Read More</a>
      </div>
      {% endfor %}
    </article>

    <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; First</a>
          <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      {% endif %}
    </span>
  </div>
        <aside class="col-lg-4 sidebar-home"> 
    <!-- authors -->
    <div class="widget widget-author text-left">
      <h4 class="widget-title">Authors</h4>
      {% for author in authors%}
      <div class="media align-items-center">
        <div class="mr-3">
          <img class="widget-author-image" src="{{author.image.url}}">
        </div>
        <div class="media-body">
          <h5 class="mb-1"><a class="post-title" href="{{author.get_absolute_url}}">{{author.fullname}}</a></h5>
          <span>Author &amp; {{author.job_title}}</span>
        </div>
      </div>
      {% endfor %}

    <!-- Search -->

  
    <!-- categories -->
    <div class="widget widget-categories">
      <h4 class="widget-title"><span>Categories</span></h4>
      <ul class="list-unstyled widget-list">
        {% for category in categories%}
        <li><a href="{{category.get_absolute_url}}" class="d-flex">{{category.name}} <small class="ml-auto">({{ category.blog_count }})</small></a></li>
        {% endfor %}
      </ul>
    </div>
  </aside>
      </div>
    </div>
  </section>
  
</div>
{% endblock %}