{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="banner text-center">
  <section class="section-sm">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8  mb-5 mb-lg-0">
    {% for fb in page_obj %}
    <h2 class="h5 section-title">Blogs in "{{fb.category.name}}" Category</h2>
    <article class="card mb-4">
    <div class="post-slider">
        <img src="{{fb.image.url}}" class="card-img-top" alt="post-thumb">
    </div>
    <div class="card-body">        
        <h3 class="mb-3"><a class="post-title" href="{{fb.get_absolute_url}}">{{fb.title}}</a></h3>
        <ul class="card-meta list-inline">
        <li class="list-inline-item">
            <a href="{{fb.author.author.get_absolute_url}}" class="card-meta-author">
            <img src="{{fb.author.author.image.url}}" alt="John Doe">
            <span>{{fb.author.author.fullname}}</span>
            </a>
        </li>
        <li class="list-inline-item">
            <i class="ti-timer"></i>{{fb.read_time}} Min To Read
        </li>
        <li class="list-inline-item">
            <i class="ti-calendar"></i>{{fb.date_published}}
        </li>
        <li class="list-inline-item">
            <ul class="card-meta-tag list-inline">
            <li class="list-inline-item"><a href="{{fb.category.get_absolute_url}}">{{fb.category.name}}</a></li>
            </ul>
        </li>
        </ul>
        <p>{{fb.body|safe|truncatechars:250}}</p>
        <a href="{{fb.get_absolute_url}}" class="btn btn-outline-primary">Read More</a>
      </div>
      {% endfor %}
    </article>
   
    <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; First</a>
          <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      {% endif %}
    </span>
  </div>
      </div>
    </div>
  </section>
</div>  

{% endblock %}